*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font: normal 15pt arial;
    background-color: #3c9ff5;
}
section{
    width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
h1, footer{
    color: white;
    text-align: center;
    padding: 20px;
}

input#inicio{
    margin: 10px 13px;
}
#fim{
    margin: 10px 23px;
}
#contar{
    margin: 20px 0px;
    padding: 0px 15px;
}

div#res{
    padding: 0px 10px;
}

