

body{
   font: normal 15pt Arial;
   background: #39D5F5;
}


h1{
    text-align: center;
    font: normal 100 titulo;
}

section{
    background-color: #8ECAF5;
    width: 700px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.349);
}