body{
    background-color: #8D6DB7;
    font: 25px normal Arial;
}
section{
    background-color: #F5F070;
    width: 800px;
    height: 500px;
    margin: auto;
    border-radius: 50pt;
}

input#gerar{
    position:relative;

}

div#res{
    position: relative;
    top: 35px;
    left: 10px;
}