@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font: normal 15pt arial;
    background-color: #3c9ff5;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, footer{
    color: white;
}

section{
    width: 700px;
    height: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

p{
    margin: 10px;
}

#img_pessoas > img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
