body{
    font: normal 20px Arial;
    background-color: #AA6AFA;
}

h1{
    text-align: center;
    color: white;
}
section{
    background-color: #FABD69;
    width: 900px;
    height: 500px;
    margin: auto;
    border-radius: 50px;

}

div#res{
    position: relative;
    left: 10px;
    margin-top: 70px;
}