
body{
   font: normal 15pt Arial;
   background: gray;
}
h1{
    text-align: center;
}


section{
    background-color: #2a4142;
    width: 700px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.349);
}