@charset "UTF-8";

*{
    box-sizing: border-box; /*Para que os paddings não aumentem o tamnho das DIVs*/
    margin: 0px;
    padding: 0px;
}

body{
    font: normal 15pt arial;
    background-color: #3c9ff5;
}
header{
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
section{
    border-radius: 10px;
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: white;
}

#mensagem_hora{
    width: 100%;
    padding: 20px;
    text-align: center;
}

#mensagem_hora > p{
    margin-top: 10px;
    
}

#img_hora{
    margin: auto;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}


#img_hora > img{
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 20px;
}

footer{
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

footer > p{
    color: white;
}
