@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font: normal 15pt arial;
    background-color: #3c9ff5;
}
header{
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
section{
    border-radius: 10px;
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: white;
}

div{
    padding: 20px;
    margin: auto;
    width: 50px;
    height: 50px;
    flex-wrap: nowrap;
}

div

footer{
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

footer > p{
    color: white;
}
