*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font: normal 15pt arial;
    background-color: #3c9ff5;
}
section{
    width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
h1, footer{
    color: white;
    text-align: center;
    padding: 20px;
}
div#inline{
    display: flex;
    justify-content: center;
}
input#gerar_tabuada{
    margin-left: 10px;
}
#number_tabuada{
    margin-left: 5px;
}
#res{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}
