@font-face {
    font-family: titulo;
    src: url(fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: font_base;
    src: url(fonts/Ubuntu-Regular.ttf);
}

body{
    background-color: #1291E0;
    font: normal 15pt font_base;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}
h1{
    text-align: center; 
    color: white;
    font: titulo;
    
}
div#escrevehora{
    text-align: center;
}
div#img{
    text-align: center;
    
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
}